$main-button-color: #00B6E3;
$main-font : 'Roboto', sans-serif;
$dark-purple : #291E40;
$light-purple : #766f84;
$white : #FFFFFF;
$light-green : #9AEDB5;
$light-pink : #ED7D86;


.main {
    display: flex;
    height: 500px;
    background: rgba(237,125,134, .35);
    border-radius: 5px;

    justify-content: center;
    align-items: center;
    color: #555555;
}

.main, .main-button, .restaurant{
    font-family: $main-font;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.restaurant{
    text-align: center;
    min-width: 200px;
    background: $white;
    border-radius: 5px;
    padding: 15px;
}

.main-button{
    padding: 1em;
    margin: 1em;
    background: $light-purple;
    border: none;
    border-radius: 5px;
    color: white;
    position: relative;

    &:active{
        border: 2px solid $dark-purple;
    }

    &:focus {
        outline: none;
    }
}

.example-enter {
    opacity: 0.01;
    top: -1em;
}

.example-enter.example-enter-active {
    opacity: 1;
    top: 0em;
    transition: top 500ms ease-in;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
    top: 0em;
}

.example-leave.example-leave-active {
    top: 1em;
    opacity: 0.01;
    transition: opacity 300ms ease-in;
    transition: top 300ms ease-in;

}


